@use "../custom" as *;

.intro-section {
    background: url(../../public/dots-8px.png);
    padding: 88px 0 0 0;

    span {
        i {
          color: $primary;
          font-size: 40px;
          padding-top: 100px;
        }
      }

}


