@use "../custom" as *;

.menu {
  height: 98px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

  a {
    color: $primary !important;
    font-weight: 500;
    font-size: 35px;
  }

  img {
    border-radius: 18px;
    margin-right: 15px;
  }

  li {
    width: 165px;
    height: 36px;

    a {
      color: $light-gray !important;
      font-weight: 400;
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 61px;

    img {
      width: 23px;
      height: 23px;
      margin-right: 3px;
      border-radius: 8.2px;
    }

    a {
      font-size: 18px;
    }
  }
}

.mobile-navbar {
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 1px;

  span {
    i {
      color: #515151;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
