@use "../custom" as *;

.display-1 {
  margin-bottom: 32px;

  &--intro {
    display: inline-block;
    color: #f8982c;
    font-weight: 500;
    font-size: 100px;
    line-height: 117px;
  }

  &--description {
    display: block;
    color: $light-gray;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    margin-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    &--intro {
      font-size: 55px;
      line-height: 64.45px;
    }

    &--description {
      font-size: 20px;
      line-height: 30px;
      margin-top: 30px;
    }
  }
}

.display-2 {
  text-align: center;
  color: $gray;

  &--companies {
    display: block;
    font-size: 60px;
    font-weight: 500;
  }

  &--description {
    display: inline-block;
    max-width: 658px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.28px;
  }

  @include media-breakpoint-down(sm) {
    &--companies {
      font-size: 30px;
      color: #f8982c;
      line-height: 35.16px;
    }

    &--description {
      font-size: 10px;
      line-height: 13.64px;
      margin-top: 10px;
    }
  }
}

.display-3 {
  color: #f8982c;
  font-weight: 500;
  padding-bottom: 93px;

  &--title {
    font-size: 80px;
  }

  &--testimonials-title {
    display: inline-block;
    font-size: 60px;
    line-height: 70px;
  }
  @include media-breakpoint-down(sm) {

    padding-bottom: 30px;

    &--title {
      font-size: 40px;
      line-height: 46.88px;
    }

    &--testimonials-title {
      font-size: 35px;
      line-height: 41px;
      margin-top: 10px;
    }
  }
}
